@media only screen and (max-width: 500px) {
	.andress {
		display: none;
	}
	.user-btn-block {
		text-align: center;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 768px) {
	.andress {
		display: none;
	}
	.user {
		text-align: center;

	}
	.input-group{
		margin-bottom: 10px;
	}
	.list-unstyled>li::last {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.andress {
		padding: 0 0 0 0;
	}
	.user-btn-block {
		text-align: left;
		margin-left: 13px;
	}

}

@media (max-width: 1199px) {
	#prodGrid .col-lg-3:nth-child(4n+1){
		clear:none;
		}
}


@media (max-width: 767px) {
	#prodGrid .col-lg-3:nth-child(2n+1){
		clear:both;
		}
	#prodGrid  .nav-tabs li>a, #prodDetail-desc .nav-tabs>li>a, .nav-footer{
		font-size:13px;
		}
	.shopHd-tl h3{
		font-size:14px;
		font-weight:bold;
		}
	.shopHd-tl .small{
		font-size:12px;
		}
}
@media (max-width: 450px) {
	.newsFocus img{
		margin:0;
		float:none;
		width:100%;
		}
}

