* {
	box-sizing: border-box;
}

/*bắt đầu css login*/
form.contact .val_error {
	color: #ff1f1f;
	font-style: italic;
}

sup {
	color: red;
}

.login label {
	color: #502708;
	font-size: 17px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.login input {
	background-color: #ffffffb5;
	font-size: 16px;
	border-radius: 30px;
}
.login span {
	padding-left: 5px;
}

/*kết thúc css login*/

/*Bắt đầu css Register*/
.register {
	margin-bottom: 5px;
}
.register label {
	color: #502708;
	font-size: 18px;
	padding-left: 5px;
}
.register input {
	background-color: #ffffffb5;
	font-size: 18px;
	border-radius: 30px;
}
.register span {
	padding-left: 5px;
}
/*Kết thúc css Register*/


/*Bắt đầu xử lý modal*/
.modal-content {
	color: #666;
	box-shadow: 0px 8px 20px 8px rgba(0, 0, 0, 0.46);
	background-image: url(../img/loginbg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.modal-sm {
	font-family: tahoma;
}


.modal-title {
	font-size: 26px;
	text-align: center;
	text-transform: uppercase;
}

/*Bắt đầu quên mật khẩu*/
.forgotPass {
	margin-left: 5px;
	color: #0764c5;
	text-decoration: none;
}
.forgotPass:hover {
	color: #0764c5;
	text-decoration: underline;
}
/*Kết thúc quên mật khẩu*/

/* Bắt đầu thông báo error và success.*/
.form-control-feedback {
	position: relative;
	width: 400px;
	height: 30px;
	font-size: 16px;
	font-style: italic;
	text-align: left;
}

.has-feedback label~.form-control-feedback {
	top: 0;
}

/*Bắt đầu căn chỉnh khung đăng ký.*/
.registerContent {
	width: 800px;
	margin: auto;
}


/*Kết thúc căn chỉnh khung đăng ký.*/


/*Tạo responsive cho màn hình 360px trở lên*/
@media screen and (max-width: 360px) {
	
	#registerForm>.form-group {
		margin-bottom: 0;
	}
}

/*Tạo responsive cho màn hình 768px trở lên*/
@media screen and (max-width: 768px) {
	
	#registerForm > .register > label {
		width: 35%;
		/*margin-bottom: 10px;*/
		float: left;
	}
	#registerForm > .register > .inputText {
		width: 65%;
		float: left;
	}
	#registerForm > .register > span {
		width: 100%;
		padding-left: 190px;
		padding-bottom: 10px;
		float: left;
	}
	#registerForm .agree {
		width: 100%;
		float: left;
	}

	#registerForm .checked {
		width: 100%;
		float: left;
	}
}

@media screen and (min-width: 812px) {

	#registerForm > .register > label {
		width: 40%;
		margin-bottom: 10px;
		float: left;
	}
	#registerForm > .register > .inputText {
		width: 60%;
		float: left;
	}
	#registerForm > .register > span {
		width: 100%;
		padding-left: 210px;
		padding-bottom: 10px;
		float: left;
	}
}

/*Tạo responsive cho màn hình 1200px trở lên*/
@media screen and (min-width: 1200px) {

	#registerForm > .register > label {
		width: 40%;
		float: left;
	}
	#registerForm > .register > .inputText {
		width: 60%;
		float: left;
	}
	#registerForm > .register > span {
		width: 100%;
		padding-left: 210px;
		padding-bottom: 10px;
		float: left;
	}
}


/*Bắt đầu Header*/
#top-header {
	background-image: url(../img/bg-header.png);
}

#slide-show {
	margin-top: 10px;
}

.thumbnail {
	margin-top: 15px;
	border: none;
	box-shadow: 0 0px 0px rgba(0,0,0,0);
	border-radius: 100%;
}

.thumbnail>img {
	border-radius: 5%;
}

.bIcon {
	background-image: url(../img/bicon.png);
	padding: 9px 9px 0px 8px;
	color: #fff;
	font-size: 11px;
	line-height: 60px;
}

.text-bicon {
	font-family: sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

.list-unstyled>li {
	display: inline-block;
}

#header-content a {
	color: #000;
	padding-left: 5px;
}

.andress {
	font-size: 18px;
	color: red;
	font-family: segoe script;
	display: inline-block;
	padding: 30px 0 30px 0;
}

.contractIcon>a>img:hover {
	opacity: 0.8;
}

.contractIcon {
	text-align: right;
	margin-left: 20px;
	float: left;
}

.search-and-user {
	padding-top: 10px;
}

.user {
	text-align: right;
	margin-left: 90px;
}

@media only screen and (max-width: 500px) {
	.andress {
		display: none;
	}
	.user {
		text-align: center;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 768px) {
	.andress {
		display: none;
	}
	.user {
		text-align: center;

	}
	.input-group{
		margin-bottom: 10px;
	}
	.list-unstyled>li::last {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.andress {
		padding: 0 0 0 0;
	}
	.user {
		text-align: left;
		margin-left: 13px;
	}

}
/*Kết thúc Header*/
