* {
	box-sizing: border-box;
	font-family: arial, Roboto , helvetica, sans-serif, verdana, Open Sans, Roboto Condensed;
    font-family: 
}

#top-header {
	background-image: url(../img/bg-header.png);
}

#slide-show {
	margin-top: 10px;
}

.logo-thumbnail {
	margin-top: 15px;
	border: none;
	box-shadow: 0 0px 0px rgba(0,0,0,0);
	border-radius: 100%;
}

.logo-thumbnail>img {
	border-radius: 5%;
}

.bIcon {
	background-image: url(../img/bicon.png);
	padding: 9px 9px 0px 8px;
    color: #fff;
    font-size: 11px;
    line-height: 60px;
}

.text-bicon {
	font-family: sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

.list-unstyled>li {
	display: inline-block;
}

#header-content a {
	color: #000;
	padding-left: 5px;
}

.andress {
	font-size: 18px;
	color: red;
	font-family: segoe script;
	display: inline-block;
	padding: 30px 0 30px 0;
}

.contractIcon>a>img:hover {
	opacity: 0.8;
}

.contractIcon {
	text-align: right;
	margin-left: 20px;
	float: left;
}

.search-and-user {
	padding-top: 10px;
}

.user-btn-block {
	text-align: right;
}

#noop-top>img {
	opacity: 0.7;
}

#noop-top>img:hover {
	opacity: 1;
}
